/**
* 文字颜色
* middle 辅助色
* dark 和 light 延伸色
*/

.g-black-dark {
    color: #2e3136 !important;
}

.g-black-333 {
	color: #333333!important;
}

.g-black-middle {
    color: #636770 !important;
}

.g-black-light {
    color: #9c9fa6 !important;
}

.g-black-light1 {
    color: #999999 !important;
}

.g-gray-dark {
    color: #edeef0 !important;
}

.g-gray-middle {
    color: #f5f6f7 !important;
}

.g-gray-light {
    color: #f7f8fa !important;
}

.g-red-dark {
    color: #f32929 !important;
}

.g-orange-dark {
    color: #ef3528 !important;
}

.g-orange-middle {
    color: #fa6f60 !important;
}

.g-orange-light {
    color: #fc9780 !important;
}

.g-blue-dark {
    color: #3771f9 !important;
}

.g-blue-middle {
    color: #089ffc !important;
}

.g-blue-light {
    color: #6ab4ff !important;
}

.g-yellow-dark {
    color: #ea8102 !important;
}

.g-yellow-middle {
    color: #faac5f !important;
}

.g-yellow-light {
    color: #ffd082 !important;
}

.g-purple-dark {
    color: #8b61f3 !important;
}

.g-purple-middle {
    color: #a48efc !important;
}

.g-purple-light {
    color: #cca3ff !important;
}

.g-brown-middle {
    color: #968686;
}

/**
 * bg
 */

.g-bg-white {
    background-color: white !important;
}

.g-bg-black-dark {
    background-color: #2e3136 !important;
}

.g-bg-black-middle {
    background-color: #636770 !important;
}

.g-bg-black-light {
    background-color: #9c9fa6 !important;
}

.g-bg-gray-dark {
    background-color: #edeef0 !important;
}

.g-bg-gray-middle {
    background-color: #f5f6f7 !important;
}

.g-bg-gray-light {
    background-color: #f7f8fa !important;
}

.g-bg-red-dark {
    background-color: #f32929 !important;
}

.g-bg-orange-dark {
    background-color: #ef3528 !important;
}

.g-bg-orange-middle {
    background-color: #fa6f60 !important;
}

.g-bg-orange-light {
    background-color: #fc9780 !important;
}

.g-bg-blue-dark {
    background-color: #3771f9 !important;
}

.g-bg-blue-middle {
    background-color: #5c8dff !important;
}

.g-bg-blue-light {
    background-color: #6ab4ff !important;
}

.g-bg-yellow-dark {
    background-color: #ea8102 !important;
}

.g-bg-yellow-middle {
    background-color: #faac5f !important;
}

.g-bg-yellow-light {
    background-color: #ffd082 !important;
}

.g-bg-purple-dark {
    background-color: #8b61f3 !important;
}

.g-bg-purple-middle {
    background-color: #a48efc !important;
}

.g-bg-purple-light {
    background-color: #cca3ff !important;
}

.g-bg-green-middle {
	background-color: #a2dd46 !important;
}

.g-bg-lgb-red {
    background: linear-gradient(to bottom, #e32626, #c4191c);
}