.v-live-item-intro {
	border-radius: 10px;
	background-color: #fff;
	padding: 15px;
	color: #333;
}

.v-live-item-tip {
	width: 100%;
	._tip {
		max-width: 200;
		padding: 2px 12px;
		color: #fff;
		background-color: #c7c7c7;
		border-radius: 4px;
	}
}

