.v-live-lecturer-card {
	width: 290px;
	height: 384px;
	background: white;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 24px 20px 10px;
	font-size: 12px;
	line-height: 24px;
	color: #000;
	transition: all 0.3s;
	overflow: hidden;
	font-size: 14px;
	._avatar {
		width: 78px;
		height: 78px;
		display: block;
		border: 1px solid #636a70;
		border-radius: 50%;
    }
	p {
		margin-bottom: 0;
		line-height: 24px;
		height: 24px;
    }
	ul {
		margin: 0;
    }
	._btn {
		background: #fff;
		color: #fff;
		padding: 0;
		margin: 0;
		width: 44px;
		height: 44px;
		transition: all 0.3s;
    }
	._erweima-bg {
		width: 44px;
		height: 44px;
		padding: 4px;
		box-sizing: border-box;
		background: #fff;
    }
	._erweima-xs {
		width: 36px;
		height: 36px;
		display: block;
    }
	._btn:focus {
		transform: scale(3.5, 3.5) translate(0, -26px);
		box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.6);
    }
	._operate {
		position: absolute;
		bottom: 10px;
		right: 20px;
    }
}

.v-live-lecturer-card:hover {
	transform: scale(1.05, 1.05);
}