.v-mine-collect {
    ._btn {
        transition: width 1s;
        background: #ff3b30;
        color:white;
        line-height: 50px;
        height: 50px;
        text-align: center;
    };
    ._show {
        width:70px;
    };
    ._hide{
        width: 0px;
    }
}