.v-material-mian {
    ._item{
        width: 50%;
        text-align: center;
        display: inline-block;
        margin-bottom: 10px;
        img{
            width: 75px;
            height: 75px;
            border-radius: 12px;
            margin-bottom: 10px; 
        };
    }
}