.v-live-add {
	margin-top: 60px;
	._community {
		padding: 10px;
		margin-left: 2px;
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		.ant-checkbox-wrapper+.ant-checkbox-wrapper {
			margin-left: 0
		}
	}
	._cover {
		width: 250px;
		height: 158px;
	}
	.rcp-sort-list>div {
		margin: 0
	}
	.ant-form-item-children {
		display: flex;
	}
	._qun {
		display: flex;
		flex-direction: column;
		height: 340px;
		max-width: 600px;
		min-width: 300px;
		padding: 10px;
		overflow-y: auto;
		border: 1px solid #d9d9d9;
		border-radius: 4px;
	}
	._qun:hover {
		border: 1px solid #089ffc;
	}
	._bgc {
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		border-radius: 5px;
		border: #e4e4e4;
		background-color: #e4e4e4;
		color: #3e3e3e;
		font-size: 20px;
	}
	._save {
		width: 80px;
		margin-left: 12.5%;
	}
}
