.v-live-main {
	._notfound {
		margin: 180px auto;
		width: 150px;
		._img {
			width: 150px;
			height: 108px;
		}
		._txt {
			color: #666;
			text-align: center;
		}
	}
	._status {
		display: none;
	}
}
