.v-home-main-item {
	width: 100%;
	height: 62px;
	padding: 9px 12px;
	box-sizing: border-box;
	border-bottom: 0.5px solid #e5e5e5;
	background: #ffffff;
	display: flex;
	._avatar {
		position: relative;
		flex-shrink: 0;
		._red {
			width: 8px;
			height: 8px;
			background: #f85c50;
			position: absolute;
			top: -4px;
			right: -4px;
			border-radius: 50%;
		}     
	}
	p {
		margin-bottom: 0;
	}
	._time {
		display: block;
		width: 80px;
		flex-shrink: 0;
		text-align: right;
	}
}