.v-home-materiallist {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.v-home-materiallist-fill {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.v-home-materiallist-main {
	position: relative;
	flex: 1;
	background-color: #f5f5f5;
}

.v-home-materiallist-footer {
	flex-shrink: 0;
}

.v-home-materiallist-header {
	flex-shrink: 0;
	color: #089ffc;
}

.v-home-materiallist-list {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	flex: 1;
}