.v-material-detail {
	._cover {
		width: 490px;
		height: 270px;
		margin-top: 50px;
		.__img {
			width: 100%;
			height: 100%;
		}
		.__title {
			position: absolute;
			background: rgba(0, 0, 0, 0.6);
			color: #ffffff;
			padding: 5px 20px;
			bottom: 0;
			left: 0;
			width: 490px;
			box-sizing: border-box;
		}
	}
	._content {
		width: 540px;
		height: 500px;
		overflow-y: auto;
		box-sizing: border-box;
	}
}