.v-mine-detail {
	._avatar {
		width: 54px;
		height: 54px;
		border: 0.5px solid #dcdcdc;
		border-radius: 50%;
	}
	._btn {
		width: 340px;
		height: 44px;
		font-size: 16px;
		border-radius: 22px;
		margin: 40px auto;
	}
}
